.DBox1 {
    background-color: #ffffff;
    width: 10px;
    border: 1px solid black;
    padding: 100px;
    margin: 200px;
   
  }
  .h1 {
    
  }
  .button1{
    background-color: #ffffff;
    width: 10px;
    
    padding: 100px;
    margin: 100px;
  }
 